<form *ngIf="! (member | async)" (ngSubmit) = "onSubmit()" >

  <label for="email">E-mail</label>
  <input type="text" class="form-control" id="email" name = "email" required [(ngModel)]="email">>
  
  <label for="password">Password</label>
  <input type="text"  class="form-control" id="password" name = "password" required [(ngModel)]="password" >
  
  
  <button type ="submit">Connexion</button> 
</form>

<p *ngIf="wrongid">id incorrect</p>
<p *ngIf="member | async">Bravo vous êtes connecté</p>




    



