
<div class="text-center">
  <div class="container">
    <h1>Panier</h1>
    <img src ="assets/basket.png">
  </div>
  <button class="btn btn-info" type="button" (click) = "loadBasket()">Consulter Votre Panier</button>
  <button class="btn btn-danger"type="button" (click) = "cleanBasket()">Vider votre panier</button>

  <ng-container *ngIf="basket | async">
    <div *ngIf="basket.value.length === 0">
      <h1>Votre Panier est vide</h1>
    </div>

    <div *ngIf="basket.value.length > 0">
      <div *ngFor="let item of basket.value">
	<ng-container *ngIf="! currentCategory || currentCategory === category.code">
          <h1>{{ nameOf(item.product_code) }}</h1>
          <h1>Quantité :{{item.quantity}}</h1>
          <button class="btn btn-warning" style="margin-bottom:10px;" type="button" (click) = "triggerformModify()">Modifier Quantité</button>

          <ng-container *ngIf="displaymodify === true">
            <form (ngSubmit)="modifyquantity(item.product_code)">
              <label style="margin-right: 5px;" for="add-to-basket-field">
		Nouvelle quantité:
              </label>
              <input type="number" name="add-to-basket-field" id="add-to-basket-field" placeholder="Quantité" min="1" [(ngModel)]="newQuantity" />
              <button class="btn btn-success" type="submit">
		Valider
              </button>
            </form>
          </ng-container>

          <button class="btn btn-danger" style="margin-bottom:10px;" type="button" (click) = "removeitem(item.product_code)">Supprimer du Panier</button>
	</ng-container>
      </div>   
    </div>
  </ng-container>
  <button class="btn btn-success"type="button" (click) = "cleanBasket()">Valider votre commande</button>
</div>
