<button type="button" (click)="loadCategory()">
  Toutes categories
</button>
<div *ngFor="let category of categories">
  <button type="button" (click)="loadCategory(category.code)">
    {{ category.name }}
  </button>
</div>

<div *ngFor="let category of categories">
  <ng-container *ngIf="! currentCategory || currentCategory === category.code">
    <h1>{{ category.name }}</h1>
    <div *ngFor="let product of productsByCategory[category.code]">
      <span>{{product['product_name']}}</span>
      <input *ngIf="member | async" type="button" (click)="viewDetails(product.code)" value="Consulter" />
    </div>
  </ng-container>
</div>
