<div class="row">
  <div class="col-sm text-center">
    <product-search (searchPerformed)="onSearchPerformed($event)">
    </product-search>
  </div>
  <div class="col-sm text-center" *ngFor="let category of categories">
    <ng-container *ngIf="! currentCategory || currentCategory  === category.code">
      <h1>{{ category.name }}</h1>
      <img src="{{ category.img }}">
      <div style="text-align: center;">
	<div style="display:block;" *ngFor="let product of productsByCategory[category.code]">
          <span style ="margin-right: 5px;">{{product['product_name']}}</span>
          <div>
            <button class="btn btn-success" *ngIf="member | async" type="button" (click)="viewDetails(product.code)">Détails</button>
	  </div>
          <button class="btn btn-success" *ngIf="!(member | async)" type="button" (click)="connect()">Connecter-vous pour commander</button>
	</div>
      </div>
    </ng-container>
  </div>
</div>
