

<div class="text-center">
  <img src="assets/ez.jpg" class="rounded" alt="image">
  <h1 >Welcome To Drinky!</h1>
</div>

<nav class="navbar navbar-dark bg-dark text-light">
  <ng-container  *ngIf="! (member | async)">
    <a routerLink="/login">Se Connecter</a>
    <a routerLink="registration">S'inscrire</a> 
  </ng-container>
    <ng-container class='text-light' *ngIf="(member | async)">
      <a (click) = "authenticationService.logOut(member)" routerLink="/">Se Deconnecter</a>
    </ng-container>
    <a routerLink="/">Accueil</a>
    <a routerLink="/products">Produits</a>
</nav>



<div style="margin-top:50px;" class="container-fluid">
    <div class="row">
        <div class="col-sm text-center">
            <router-outlet></router-outlet>
        </div>
        <div style="margin-right:50px;" class="col-sm text-right">
            <router-outlet name ="basket">
                <ng-container  *ngIf="(member | async)">
                  <basket></basket>
                </ng-container>
            </router-outlet>
        </div>    
    </div>
</div>

  
