
<div class ="container-fluid">
  <div class="text-center">
    <h1 style= "margin-bottom:10px;margin-top:10px;">Drink easy with Drinky!</h1>
    <img src="assets/ez.jpg" class="rounded" alt="image">
  </div>

  <div class="page-header-container">
    <nav class="navbar navbar-dark bg-dark text-light">
      <ng-container  *ngIf="! (member | async)">
	<a routerLink="/login">Se Connecter</a>
	<a routerLink="registration">S'inscrire</a> 
      </ng-container>
      <ng-container class='text-light' *ngIf="(member | async)">
	<a (click) = "authenticationService.logOut(member)" routerLink="/products">Se Deconnecter</a>
      </ng-container>
      <a routerLink="/products">Produits</a>
    </nav>
    <product-menu></product-menu>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 text-center">
        <router-outlet></router-outlet>
      </div>
      <div class="col-sm-3 text-right">
        <ng-container  *ngIf="(member | async)">
          <basket></basket>
        </ng-container>
      </div>    
    </div>
  </div>

  <nav style="text-align: center; margin-top: 50px;" class =" navbar-nav bg-dark text-light ">
    <p>Fait Par Yannis Naidja et Basile Dalié pour l'UE Données du Web dirigée Par Mr Pierre Pompidor. Année 2019-2020</p>
  </nav>
</div>
