
<nav class="navbar navbar-dark bg-dark text-light">
  <ng-container  *ngIf="! (member | async)">
    <a routerLink="/login">Se Connecter</a>
    <a routerLink="registration">S'inscrire</a> 
  </ng-container>
    <ng-container class='text-light' *ngIf="(member | async)">
      <a (click) = "authenticationService.logOut(member)" routerLink="/">Se Deconnecter</a>
    </ng-container>
    <a routerLink="/">Accueil</a>
    <a routerLink="/products">Produits</a>
</nav>

<div class="text-center">
    <h1 style= "margin-bottom:10px;margin-top:10px;">Drink easy with Drinky!</h1>
    <img src="assets/ez.jpg" class="rounded" alt="image">
    
  </div>



<div style="margin-top:50px;" class="container-fluid">
    <div class="row">
        <div class="col-sm text-center">
            <router-outlet></router-outlet>
        </div>
        <div style="margin-right:50px;" class="col-sm text-right">
            <router-outlet name ="basket">
                <ng-container  *ngIf="(member | async)">
                  <basket></basket>
                </ng-container>
            </router-outlet>
        </div>    
    </div>
</div>

<!--
  <nav style="margin-top: 10px;" class="navbar navbar-dark bg-dark text-light fixed-bottom ">
  <span class="navbar-text1">
   Copyright 2019 - Fait par: Yannis Naidja et Basile Dalié pour l'UE Données du Web enseignée par monsieur Pierre Pompidor en M1 aigle à la faculté des sciences de Montpellier
    </span>
  </nav>
-->

